.App{
  text-align: center;
}
.body{
  margin: 0%;
}
.block-navegation{
  background-color: black;
  color: white;
}

.block-navegation-item{
  display: inline;
}

#block-btn-nav{
  background-color: black;
  color: white;
  font-size: 35px;
  border: 0px;
  padding: 1.5%;
}

p{
  font-size: 20px;
  margin: 3%;
  text-align: justify;
}
#img-home{
  height: 400px;
}